
<!-- <body class="wt-login"> -->
<!-- Wrapper Start -->
<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
    <!-- Content Wrapper Start -->
    <div class="wt-contentwrapper first-handler">
        <!--Main Start-->
        <main id="wt-main" class=" wt-haslayout">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="profiler-innerbannercontent">
                        <div class="profiler-title">
                            <h2>Plumber</h2>
                        </div>
                        <ol class="profiler-breadcrumb">
                            <li><a href="home-page">Home</a></li>
                            <li class="wt-active">>Main Category</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!--More Details Start-->
            <section style="margin-top: 30px;" class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-2 col-xl-3 col-lg-2 handler">
                        <aside id="wt-sidebar" class="wt-sidebar wt-usersidebar">
                            <div class="wt-widget wt-effectiveholder">
                                <div class="wt-widgettitle">
                                    <h2>Location</h2>
                                </div>
                                <div class="wt-widgetcontent">
                                    <form class="wt-formtheme wt-formsearch">
                                        <fieldset>
                                            <div class="form-group">
                                                <input type="text" name="fullname" class="form-control" placeholder="Search Location">
                                                <a href="javascrip:void(0);" class="wt-searchgbtn"><i class="lnr lnr-magnifier"></i></a>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="wt-checkboxholder wt-verticalscrollbar mCustomScrollbar _mCS_2"><div id="mCSB_2" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 150px;" tabindex="0">
                                                    <div id="mCSB_2_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
																<span class="wt-checkbox">
																	<input id="wt-description" type="checkbox" name="description" value="company" checked="">
																	<label for="wt-description"> <img src="/default//images/flag/img-01.png" alt="img description" class="mCS_img_loaded"> Australia</label>
																</span>
                                                        <span class="wt-checkbox">
																	<input id="us" type="checkbox" name="description" value="company">
																	<label for="us"> <img src="/default//images/flag/img-02.png" alt="img description" class="mCS_img_loaded"> United States</label>
																</span>
                                                        <span class="wt-checkbox">
																	<input id="canada" type="checkbox" name="description" value="company">
																	<label for="canada"> <img src="/default//images/flag/img-03.png" alt="img description" class="mCS_img_loaded"> Canada</label>
																</span>
                                                        <span class="wt-checkbox">
																	<input id="england" type="checkbox" name="description" value="company">
																	<label for="england"> <img src="/default/images/flag/img-04.png" alt="img description" class="mCS_img_loaded"> England</label>
																</span>
                                                        <span class="wt-checkbox">
																	<input id="emirates" type="checkbox" name="description" value="company">
																	<label for="emirates"> <img src="/default/images/flag/img-05.png" alt="img description" class="mCS_img_loaded"> United Emirates</label>
																</span>
                                                        <span class="wt-checkbox">
																	<input id="wt-description1" type="checkbox" name="description" value="company">
																	<label for="wt-description1"> <img src="/default/images/flag/img-01.png" alt="img description" class="mCS_img_loaded"> Australia</label>
																</span>
                                                        <span class="wt-checkbox">
																	<input id="us1" type="checkbox" name="description" value="company">
																	<label for="us1"> <img src="/default/images/flag/img-02.png" alt="img description" class="mCS_img_loaded"> United States</label>
																</span>
                                                    </div>
                                                    <div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">
                                                        <div class="mCSB_draggerContainer">
                                                            <div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 103px; max-height: 140px; top: 0px;">
                                                                <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                                            </div>
                                                            <div class="mCSB_draggerRail"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="wt-widget wt-effectiveholder">
                                <div class="wt-widgettitle">
                                    <h2>English level</h2>
                                </div>
                                <div class="wt-widgetcontent">
                                    <form class="wt-formtheme wt-formsearch">
                                        <fieldset>
                                            <div class="wt-checkboxholder">
																<span class="wt-checkbox">
																	<input id="basic" type="checkbox" name="description" value="company" checked="">
																	<label for="basic">Basic</label>
																</span>
                                                <span class="wt-checkbox">
																	<input id="conversational" type="checkbox" name="description" value="company">
																	<label for="conversational"> Conversational</label>
																</span>
                                                <span class="wt-checkbox">
																	<input id="fluent" type="checkbox" name="description" value="company">
																	<label for="fluent"> Fluent</label>
																</span>
                                                <span class="wt-checkbox">
																	<input id="native" type="checkbox" name="description" value="company">
																	<label for="native"> Native or bilingual</label>
																</span>
                                                <span class="wt-checkbox">
																	<input id="professional" type="checkbox" name="description" value="company">
																	<label for="professional"> Professional</label>
																</span>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="wt-widget wt-applyfilters-holder">
                                <div class="wt-widgetcontent">
                                    <div class="wt-applyfilters">
                                        <span>Click “Apply Filter” to apply latest<br> changes made by you.</span>
                                        <a href="javascript:void(0);" class="wt-btn">Apply Filters</a>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div style="margin-top: 20px;" class="col-12 col-sm-12 col-md-10 col-xl-9 col-lg-10">
                        <div class="row">
                                <!-- <div style="float:left;" class="col-sm-6 col-md-3 col-lg-4 "> -->
                                        <% for(var i=0; gig[i]; i++){ %>
                                        <div class="wt-article  gig-box">
                                            <div class="gig-cover-img">
                                                <a href="/job-profile/<%=gig[i].unique_id %>">
                                                        <img src="/default/uploads/gig-cover/<%= gig[i].cover_image %>" alt="img description">

                                                </a>
                                            </div>
                                            <div class="wt-articlecontent gig-content">
                                                    <div class="wt-title ct-user">
                                                        <p><a href="">
                                                                @<%=gigOwner[i] %>
                                                        </a></p>
                                                    </div>
                                                <div class="wt-title gig-main-body">
                                                    <p>
                                                        <a href="/job-profile/<%=gig[i].unique_id %>">
                                                            <%= gig[i].title %>

                                                        </a>
                                                    </p>
                                                    <p class="gig-rating">
                                                        Rating ( <%=gig[i].reviews %> )
                                                    </p>
                                                </div>
                                                <div class="gig-footer">
                                                        <h5>
                                                            Profiler Verified!
                                                        </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    <!-- </div> -->
                                    
                           
                        </div>
                    </div>
                </div>
            </section>
            <!--More Details End-->
        </main>
        <!--Main End--><footer id="wt-footer" class="wt-footer wt-haslayout">
    <div class="wt-footerholder wt-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="wt-footerlogohold">
                        <strong class="wt-logo">
                            <a href="profiler-home-page">
                                <img src="/default/images/profiler-logo-footer.png" alt="company logo here">
                            </a>
                        </strong>
                        <div class="wt-description">
                            <p>Profiler is a virtual marketplace where business needs meet the professional solutions that can solve them. We provide a free platform for growing your customer base as a freelancer or a professional  <a href="about-us-page">more...</a></p>
                        </div>
                        <ul class="wt-socialiconssimple wt-socialiconfooter">
                            <li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li class="wt-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                            <li class="wt-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                            <li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="wt-footercol wt-widgetcompany">
                        <div class="wt-fwidgettitle">
                            <h3>Company</h3>
                        </div>
                        <ul class="wt-fwidgetcontent">
                            <li><a href="about-us-page">About Us</a></li>
                            <li><a href="how-it-works-page">How It Works</a></li>
                            <li><a href="javascript:void(0);">Careers</a></li>
                            <li><a href="terms-condition-page">Terms &amp; Conditions</a></li>
                            <li><a href="javascript:void(0);">Trust &amp; Safety</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="wt-widgetskills">
                        <div class="wt-fwidgettitle">
                            <h3>By Skills</h3>
                        </div>
                        <ul class="wt-fwidgetcontent">
                            <li><a href="main-category-page">Artisan</a></li>
                            <li><a href="main-category-page">Programming &amp; Tech</a></li>
                            <li><a href="main-category-page">Lifestyle</a></li>
                            <li><a href="main-category-page">Graphic & Design</a></li>
                            <li><a href="main-category-page">Fashion</a></li>
                            <li><a href="main-category-page">Digital Marketing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wt-haslayout wt-joininfo">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 push-lg-1">
                    <div class="wt-companyinfo">
                        <span><a href="register-page">New @ Profiler?</a> kindly register as a seller/user to enjoy the full benefit of being a Profiler!.</span>
                    </div>
                    <div class="wt-fbtnarea">
                        <a href="register-page" class="wt-btn">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    </div>
    <!--Content Wrapper End-->
</div>
<!--Wrapper End-->
<!-- <script src="js/vendor/jquery-3.3.1.js"></script>
<script src="js/vendor/jquery-library.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/chosen.jquery.js"></script>
<script src="js/tilt.jquery.js"></script>
<script src="js/scrollbar.min.js"></script>
<script src="js/countdown.min.js"></script>
<script src="js/prettyPhoto.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/readmore.js"></script>
<script src="js/countTo.js"></script>
<script src="js/appear.js"></script>
<script src="js/tipso.js"></script>
<script src="js/chart.js"></script>
<script src="js/jRate.js"></script>
<script src="js/main.js"></script>
</body>
</html> -->