
	<!-- Wrapper Start -->
	<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
            <!-- Content Wrapper Start -->
            <div class="wt-contentwrapper">
                <!-- Header Start -->
                
                <!--Header End-->
                <!--Main Start-->
                <main id="wt-main" class="wt-main wt-haslayout custom-main">
                    
                        <!--Sidebar Start-->
                        <div id="wt-sidebarwrapper" class="wt-sidebarwrapper">
                                <div id="wt-btnmenutoggle" class="wt-btnmenutoggle">
                                    <span class="menu-icon">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </span>
                                </div>
                                <div id="wt-verticalscrollbar" class="wt-verticalscrollbar">
                                    <div class="wt-companysdetails wt-usersidebar">
                                        <figure class="wt-companysimg">
                                            <img src="/default/images/sidebar/img-01.jpg" alt="img description">
                                        </figure>
                                        <div class="wt-companysinfo">
                                                <figure><img src="/default/uploads/profile-images/<%= user[0].profile_image %> " alt="img description"></figure>
                                            <div class="wt-title">
                                                <h2><a href="javascript:void(0);"> <%= user[0].firstName %> <%= user[0].lastName %></a></h2>
                                                <span>Amento Tech</span>
                                            </div>
                                            <!-- <div class="wt-btnarea"><a href="dashboard-postjob.html" class="wt-btn">Post a Job</a></div> -->
                                        </div>
                                    </div>
                                    <nav id="wt-navdashboard" class="wt-navdashboard">
                                        <ul>
                                            <li class="wt-active">
                                                    <a href="/my-profile">
                                                        <i class="ti-briefcase"></i>
                                                        <span>View Profile</span>
                                                    </a>
                                                </li>
                                            <li class="wt-active">
                                                <a href="/Mynotifications">
                                                    <i class="ti-dashboard"></i>
                                                    <span>My Notifications</span>
                                                </a>
                                            </li>
                                            <li class="wt-active">
                                                <a href="/user">
                                                    <i class="ti-package"></i>
                                                    <span>Dashboard</span>
                                                </a>
                                            </li>
                                            <li class="wt-notificationicon menu-item-has-children">
                                                <a href="javascript:void(0);">
                                                    <i class="ti-pencil-alt"></i>
                                                    <span>Gigs</span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li><hr><a href="/createGig">Create Gigs</a></li>
                                                    <li><hr><a href="/View-Gigs">Progress On Gigs</a></li>
                                                </ul>
                                            </li>
                                            <li class="wt-active">
                                                <a href="/user_support">
                                                    <i class="ti-layers"></i>
                                                    <span>Help & Support</span>
                                                </a>
                                            </li>
                                            <li class="wt-active">
                                                <a href="/logout">
                                                    <i class="ti-key"></i>
                                                    <span>Logout</span>
                                                </a>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        <!--Sidebar Start-->
                    <!--Register Form Start-->
                    <section style="margin-top:-80px;" class="wt-haslayout">
                        <div class="row">
                            
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                                        <div class="wt-haslayout wt-dbsectionspace">
                                            <div class="wt-dashboardbox wt-dashboardtabsholder">
                                                <div class="wt-dashboardboxtitle">
                                                    <h2>YOUR GIGS</h2>
                                                </div>
                                                <div class="wt-tabscontent tab-content gig-tab">
                                                    <% for(var i=0; gig[i]; i++){ %>
                                                            <div style="float:left;" class="col-sm-6 col-md-3 col-lg-4 ">
                                                                <div class="wt-article  gig-box">
                                                                    <div class="gig-cover-img">
                                                                                <img src="/default/uploads/gig-cover/<%= gig[i].cover_image %>" alt="img description">
                                                                    </div>
                                                                    <div class="wt-articlecontent gig-content">
                                                                            <div class="wt-title ct-user">
                                                                                <p>
                                                                                    <a href="">
                                                                                        @<%= user[0].firstName %> <%= user[0].lastName %>
                                                                                    </a><br>
                                                                                    <% if( gig[i].blocked == '1'){ %>
                                                                                        <span style="padding-top:8px;font-size:12px;margin-bottom: 0px;color: rgb(1, 209, 105);">
                                                                                            This Gig is currently active
                                                                                        </span>
                                                                                    <% }else{ %>
                                                                                        <span style="padding-top:8px;font-size:12px;margin-bottom: 0px;color: #ff5851;">
                                                                                            This Gig is currently Inactive
                                                                                        </span>
                                                                                    <% } %>
                                                                                </p>
                                                                                
                                                                            </div>
                                                                        <div class="wt-title gig-main-body">
                                                                            <p>                                    <%= gig[i].title %>
                                                                            </p>
                                                                            <p class="gig-rating">
                                                                                Rating ( <%= gig[i].reviews %> )
                                                                            </p>
                                                                        </div>
                                                                        <div class="gig-footer">
                                                                                <a href="/edit-Gig/<%= gig[i].unique_id %>" class="ct-btn xt-edit-btn">
                                                                                    
                                                                                    <i style="font-size:20px;" class="fa fa-pencil" aria-hidden="true"></i>
                                                                                    <!-- Edit ? -->
                                                                                </a>
                                                                                <a style="float:right;" data-toggle="modal" gig-id="<%= gig[i].unique_id %>"href="#myModullUNBLOCKGIG" class="ct-btn xt-delete-btn">
                                                                                    <i style="font-size:20px;" class="fa fa-trash" aria-hidden="true"></i>
                                                                                    <!-- Delete -->
                                                                                </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                <div class="wt-haslayout wt-dbsectionspace wt-codescansidebar">
                                    <div class="tg-authorcodescan wt-codescanholder">
                                        <figure class="tg-qrcodeimg">
                                            <img src="/default/images/qrcode.png" alt="img description">
                                        </figure>
                                        <div class="tg-qrcodedetail">
                                            <span class="lnr lnr-laptop-phone"></span>
                                            <div class="tg-qrcodefeat">
                                                <h3>Scan with your <span>Smart Phone </span> To Get It Handy.</h3>
                                            </div>
                                        </div>
                                        <div class="wt-codescanicons">
                                            <span>Share Your Profile</span>
                                            <ul class="wt-socialiconssimple">
                                                <li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
                                                <li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                                <li class="wt-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li class="wt-clone"><a href="javascript:void(0);"><i class="far fa-clone"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="wt-companyad">
                                        <figure class="wt-companyadimg"><img src="/default/images/add-img.jpg" alt="img description"></figure>
                                        <span>Advertisement  255px X 255px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Register Form End-->
                </main>

                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModullUNBLOCKGIG" class="modal fade">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title"> Delete Gig?</h4>
                        </div>
                    <div class="modal-body">
                    <p>Are you sure you want to Delete this Gig?</p>
                    </div>
                    <div class="modal-footer">
                        <form id="ct-delete-gig-form">
                            <button data-dismiss="modal" class="btn btn-success" type="button">Cancel</button>
                            <button class="btn btn-success ct-delete-this-gig" >Delete</button>
                        </form>
                    </div>
                       </div>
                           </div>
                       </div>
                <!--Main End-->	