<%- include('../partials/default/head-links') %>



<!-- Wrapper Start -->
<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
    <!-- Content Wrapper Start -->
    <div class="wt-contentwrapper">
        <!-- Header Start -->
        <%- include('../partials/default/header') %>
        <!--Header End-->
        <!--Home Banner Start-->
        <%- body %>

<%- include('../partials/default/main-footer') %>
<!--Footer End-->
    </div>
    <!--Content Wrapper End-->
</div>
<!--Wrapper End-->
<%- include('../partials/default/footer-links') %>